body, html {
    background-image: url("images/fondogrill.png");
    background-size: cover; /* O "contain", según lo que necesites */
    background-repeat: no-repeat;     
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}